.logo {
    width: 100%;
    height: auto;
}

.nav-item {
    transition: all .55s ease; 
    z-index: 1; 
}

.nav-item:hover {
    background-color: #ecf0f1;
    background: transparent;
    transform: translateX(10px);
    background-color: #ddd;
    color: #000;
}

.dropdown-item {
    transition: all .55s ease; 
    z-index: 1;
}

.dropdown-item:hover {
    background-color: #ecf0f1;
    background: transparent;
    transform: translateX(10px);
    background-color: #ddd;
    color: #000;
}

strong {
    color: #2c3e50;
}

h2 {
    text-align: center;
    margin: 70px 70px 70px 70px;
}

p {
    margin-left: 10rem; 
}

@media (max-width:600px) {
    h2 {
        margin-left: 5rem;
    }
}

a {
    text-decoration: none;
}

button {
    border-radius: 5px;
    border-style: solid;
    background: #c8d6e5;
  font-size: 16px;
  margin: 4px 2px;
  color: #2c3e50;
  transition: transform .6s;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
}

button:hover {
    transform: scale(1.1); 
  box-shadow: 0px 0px 10px rgba(0,0,0,0.3); 
}

.footer {
    background-color: #f8f9fa;
    padding: 20px 0;
}

.footer .container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

.footer .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer h5 {
    margin-bottom: 15px;
}

.footer ul {
    list-style-type: none;
    padding-left: 0;
}

.mail {
    text-decoration: none;
}

.mail:hover {
    text-decoration: underline;
}

#map {
    height: 200px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #576574;
    border-radius: 50px;
}

::-webkit-scrollbar-thumb {
    background-color: #dcdde1;
    border-radius: 50px;
}